    /*
    Flaticon icon font: Flaticon
    Creation date: 08/07/2020 19:10
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-whatsapp:before { content: "\f100"; }
.flaticon-up-arrow:before { content: "\f101"; }
.flaticon-chevron-up:before { content: "\f102"; }
.flaticon-chevron-arrow-up:before { content: "\f103"; }
.flaticon-coronavirus:before { content: "\f104"; }
.flaticon-maternity:before { content: "\f105"; }
.flaticon-physics:before { content: "\f106"; }
.flaticon-dna:before { content: "\f107"; }
.flaticon-thyroid-gland:before { content: "\f108"; }
.flaticon-capsules:before { content: "\f109"; }
.flaticon-laboratory:before { content: "\f10a"; }
.flaticon-lab-tool:before { content: "\f10b"; }
.flaticon-chemistry:before { content: "\f10c"; }
.flaticon-parasite:before { content: "\f10d"; }
.flaticon-immunity:before { content: "\f10e"; }
.flaticon-two-spermatozoon:before { content: "\f10f"; }
.flaticon-cell:before { content: "\f110"; }
.flaticon-research:before { content: "\f111"; }
.flaticon-dna-1:before { content: "\f112"; }
.flaticon-dna-2:before { content: "\f113"; }
    
    $font-Flaticon-whatsapp: "\f100";
    $font-Flaticon-up-arrow: "\f101";
    $font-Flaticon-chevron-up: "\f102";
    $font-Flaticon-chevron-arrow-up: "\f103";
    $font-Flaticon-coronavirus: "\f104";
    $font-Flaticon-maternity: "\f105";
    $font-Flaticon-physics: "\f106";
    $font-Flaticon-dna: "\f107";
    $font-Flaticon-thyroid-gland: "\f108";
    $font-Flaticon-capsules: "\f109";
    $font-Flaticon-laboratory: "\f10a";
    $font-Flaticon-lab-tool: "\f10b";
    $font-Flaticon-chemistry: "\f10c";
    $font-Flaticon-parasite: "\f10d";
    $font-Flaticon-immunity: "\f10e";
    $font-Flaticon-two-spermatozoon: "\f10f";
    $font-Flaticon-cell: "\f110";
    $font-Flaticon-research: "\f111";
    $font-Flaticon-dna-1: "\f112";
    $font-Flaticon-dna-2: "\f113";